{
  "openapi": "3.0.1",
  "info": {
    "title": "Smart Scheduling Focus Time API",
    "description": "Power Automate HTTP-triggered flows for calendar analysis and focus block creation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prod-XX.REGION.logic.azure.com",
      "description": "Power Automate HTTP trigger base URL — replace with your flow URLs after import"
    }
  ],
  "paths": {
    "/workflows/get-free-slots/triggers/manual/run": {
      "post": {
        "operationId": "getFreeSlots",
        "summary": "Get free calendar slots for a date range",
        "description": "Returns available time blocks of 90+ minutes in the user's calendar, filtered by preferred focus windows (before 11am, after 3pm)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["date"],
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "The date to analyse (YYYY-MM-DD)"
                  },
                  "minDurationMinutes": {
                    "type": "integer",
                    "default": 90,
                    "description": "Minimum gap size in minutes to qualify as a focus slot"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of available focus slots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "start": { "type": "string", "format": "date-time" },
                          "end": { "type": "string", "format": "date-time" },
                          "durationMinutes": { "type": "integer" },
                          "preferred": { "type": "boolean", "description": "True if in before-11am or after-3pm window" }
                        }
                      }
                    },
                    "meetingLoadPercent": {
                      "type": "integer",
                      "description": "Percentage of working hours already booked with meetings"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflows/create-focus-block/triggers/manual/run": {
      "post": {
        "operationId": "createFocusBlock",
        "summary": "Create a focus time calendar event",
        "description": "Creates a calendar event marked as busy to protect focus time. Requires user confirmation before calling.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["start", "end", "title"],
                "properties": {
                  "start": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Focus block start time (ISO 8601)"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Focus block end time (ISO 8601)"
                  },
                  "title": {
                    "type": "string",
                    "default": "Focus Time",
                    "description": "Calendar event title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "eventId": { "type": "string" },
                    "webLink": { "type": "string", "description": "Deep link to the calendar event" },
                    "start": { "type": "string", "format": "date-time" },
                    "end": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workflows/get-meeting-load/triggers/manual/run": {
      "post": {
        "operationId": "getMeetingLoad",
        "summary": "Get weekly meeting vs focus time breakdown",
        "description": "Returns hours spent in meetings vs focus time for the current or specified week, with anti-pattern flags",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "weekStart": {
                    "type": "string",
                    "format": "date",
                    "description": "Monday of the week to analyse (YYYY-MM-DD). Defaults to current week."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Weekly load summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meetingHours": { "type": "number" },
                    "focusHours": { "type": "number" },
                    "meetingPercent": { "type": "integer" },
                    "antiPatterns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "enum": ["back-to-back", "no-lunch", "outside-hours", "no-focus-day"] },
                          "day": { "type": "string" },
                          "detail": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
